---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Blog</title>
	</head>
	<body>
		<h1>Blog</h1>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`/blog/${post.id}/`}>{post.data.title}</a>
					<time datetime={post.data.date.toISOString()}>
						{post.data.date.toLocaleDateString('en-us', {
							year: 'numeric',
							month: 'short',
							day: 'numeric',
						})}
					</time>
				</li>
			))}
		</ul>
	</body>
</html>
